:root{
    /* --font: ?; */
    --pink: #f71469;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    color: white;
    background: linear-gradient(var(--pink) , peachpuff);;
    background-attachment:fixed;
}

img{
    max-width: 50%;
    /* border: 10px;
    border-color: white;
    border-style: solid; */
}

.container{
    display: grid;
    padding: 16px;
    width: 90vw;
    margin: 0 auto; 
}

.header img {
    margin-bottom: 32px;
    width: 56px;
}

textarea {
    width: 100%;
    height: 120px;
    border-radius: 16px;
    padding: 24px;
    font-size: 24px;
    border: none;
    resize: none;
    margin-bottom: 32px;
}

textarea:focus-within{
    outline: 1px auto var(--pink);
}

.controls{
    display:grid;
    grid-gap: 10px;
    /* 5 fraction row */
    grid-template-columns: 1fr 4fr;
}

button {
    border:none;
    border-radius: 8px;
    height: 56px;
    width: 60px;
    background-color: var(--pink);
    color: white;
    font-size: 16px;
}

button:disabled{
    opacity: 0.6;
    background-color: aliceblue;
}

label{
    display:block;
    font-size: 16px;
    margin-bottom: 12px;
}

.pitch-controls {
    margin-bottom: 32px;
}

#pitch-range{
    width: 100%; 
    accent-color: white;
}

.talking .static-cat {
    display:none;
}

.talking .speaking-cat{
    display: block;
}