*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: linear-gradient(peachpuff, lemonchiffon);
    background-attachment: fixed;
}

main {
    text-align:center;
  }

img {
    max-width: 80%;
    height: auto;
}

.container {
    margin: 0 auto;
    padding: 16px;
    width: 90%;
}

.panel {
    background-color: white;
    border-radius:10px;
    padding: 16px 24px;
    margin-bottom: 16px;
}

.commands ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.commands ul li {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    margin-bottom: 16px;
}

h3 {
    color:grey;
    margin-bottom: 16px;
    font-size: 16 px;
}

button {
border:none;
background-color: blue;
border-radius: 50px;
padding: 12px;
margin-bottom: 12px;
}

.codigotchi {
    position: relative;
    width: 280px;
    margin: 0 auto 23px auto;
}

.codigotchi-screen{
    position: absolute;
    top: 110px;
    left: 82px;
    width: 120px;
    height: 120px;
    background-image: url('./images/static.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.codigotchi-screen_dance{
    background-image: url('./images/dance.gif');
}

.codigotchi-screen_eat{
    background-image: url('./images/eat.gif');
}

.codigotchi-screen_sleep{
    background-image: url('./images/sleep.gif');
}



.panel-commands {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 88%;
  }

  .talking .panel-microphone {
  visibility: hidden;  
  }

  .talking .panel-commands {
    visibility:visible;
  }

  .panels {
    position: relative;
  }

  #transcript {
    color: white;
    font-weight: bold;
  }

  footer {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
  }

  a {
    text-decoration: none;
    cursor: crosshair;
    text-decoration-line: overline underline;
    font-size: large;
  }
  
  .title a {
    background-color: snow;
  }



