*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: linear-gradient(peachpuff, lemonchiffon);
    background-attachment: fixed;
}

footer {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
  }