* {
  font-family: Helvetica, Arial, sans-serif;
  background-color: powderblue;
  padding: 6px;
  text-align: center;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title > div {
  min-height: em;
  max-height: em;
  width: 80%;
  text-align: center;
  background-color: snow;
  margin: 12px;
  padding: 2%;
  border-radius: 12px;
  border: 6px double rgb(208, 182, 238);
  box-shadow: 1px 1px 12px rgb(208, 182, 238);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.flex-container > div {
  min-height: 20%;
  max-height: em;
  width: 30em;
  margin: 10px;
  padding: 0, 2%, 0, 2%;
  border-radius: 12px;
  background-color: snow;
  border: 6px double rgb(208, 182, 238);
  box-shadow: 1px 1px 12px rgb(208, 182, 238);
}

a {
  text-decoration: none;
  cursor: crosshair;
  text-decoration-line: overline underline;
  font-size: large;
  font-size: 20px;
  background-color: rgba(176, 224, 230, 0);
}

.title a {
  background-color: snow;
}

footer {
  position: fixed;
  width: 100%;
  height: 3em;
  text-align: center;
  bottom: 0px;
  left: 0;
  font-size: 18px;
  background-color: rgba(176, 224, 230, 0.932);
}

h1 {
  color: DarkSlateBlue;
  font-size: 36px;
  text-shadow: 3px 3px lemonchiffon;
  background-color: snow;
}

h2 {
  color: DarkSlateBlue;
  font-size: 24px;
  text-shadow: 3px 3px lemonchiffon;
  background-color: snow;
}

p {
  font-size: 20px;
  color: DarkSlateBlue;
  background-color: snow;
  text-align: center;
  padding: 0, 8%, 0, 8%;
  margin: 4px;
}

.button {
  background-color: rgb(187, 158, 255);
  padding: 0.6em 0.6em;
  margin: 4px;
  border: 1px dashed snow;
  box-shadow: 1px 1px 6px rgb(187, 158, 255);
  color: snow;
  font-size: 24px;
  border-radius: 3px;
  transition-duration: 0.3s;
  cursor: progress;
}
.button:hover {
  background-color: powderblue;
  color: rgb(148, 32, 206);
  box-shadow: 2px 2px 6px rgb(187, 158, 255);
  border: 1px dashed rgb(187, 158, 255);
}

.button-git {
  background-color: rgb(187, 158, 255);
  padding: 0.4em 0.4em;
  margin: 3px;
  border: 1px solid rgba(255, 250, 250, 0.596);
  box-shadow: inset 1px 1px 6px rgb(187, 158, 255);
  color: snow;
  font-size: 18px;
  border-radius: 6px;
  transition-duration: 0.3s;
  cursor: crosshair;
}
.button-git:hover {
  background-color: powderblue;
  color: rgb(148, 32, 206);
  box-shadow: inset 2px 2px 7px rgb(187, 158, 255);
}

input[type="text"],
input[type="number"] {
  width: 80%;
  height: 3em;
  padding: 5px 10px;
  margin: 20px;
  border: 1px dotted snow;
  box-shadow: 1px 1px 3px rgb(187, 158, 255);
  color: rgb(187, 158, 255);
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: lemonchiffon;
}

input[type="text"]:focus,
input[type="number"]:focus {
  background-color: rgb(187, 158, 255);
  border: 1px dotted rgb(187, 158, 255);
  color: lemonchiffon;
  box-shadow: 2px 2px 8px lemonchiffon;
  outline: none;
}
