* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

html {
    line-height: 1;
    max-height: 100vh;
    background-image: linear-gradient(to bottom, #ebeffd, #85a5fa);
    background-attachment:fixed;
}

.container {
    width: 90vw;
    margin: 0 auto;
    padding: 16px;
} 

header img {
    width: 56px;
}

.weather-icon {
    max-width: 100%;
}

main {
    text-align: center;
}

.weather-icon{
    max-width: 100%;
}

.weather-temperature{
    font-size: 112px;
}

.weather-info{
    margin-bottom: 16px
}

.panel {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
}

.panel-title {
    margin-bottom: 12px;
    color: darkblue;
}

.description {
    font-weight: bold;
    font-size: 18px;
}

footer {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
  }