* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

html {
    line-height: 1;
    max-height: 100vh;
    background-image: linear-gradient(to bottom, #ebeffd, #85a5fa);
    background-attachment:fixed;
}

.container {
    width: 90vw;
    margin: 0 auto;
    padding: 16px;
} 

header img {
    width: 56px;
}

.weather-icon {
    max-width: 100%;
}

main {
    text-align: center;
}

.weather-icon{
    max-width: 100%;
    transition: opacity 1s;
    transition-delay: 0.25s;
}

.weather-temperature{
    font-size: 112px;
}

.weather-info{
    margin-bottom: 16px
}

.panel {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;

    transition: transform 0.3s, opacity 1s;
    transition-delay: 0.2s;
}

.panel-title {
    margin-bottom: 12px;
    color: darkblue;
}

.description {
    font-weight: bold;
    font-size: 18px;
}

.js-loading .weather-icon {
    opacity: 0;
    transform: translateY(30px);
}

.js-loading .panel{
    opacity: 0;
    transform: scale(0);
}

.footer {
    position: fixed;
    width: 100%;
    height: 2em;
    text-align: center;
    bottom: 0px;
    left: 0;
    background-color: rgba(176, 224, 230, 0.932);
  }

.footer  a {
    text-decoration: none;
    cursor: crosshair;
    text-decoration-line: overline underline;
    font-size: large;
  }
  
  /* .title a {
    background-color: snow;
  } */